    <!-- About Section  -->

    
    <section class="about-section" id="about">
        <div class="container">
                <div class="boxes">
                    <div class="box">
                        <img src="https://img.icons8.com/cute-clipart/64/000000/one-free.png"/>
                        <h1>Free Registration</h1>
                    </div>   
                    <div class="box">
                        <img src="https://img.icons8.com/color/48/000000/prize-money.png"/>
                        <h1>Prize Pool of 150 USD</h1>
                    </div>                        
                    <div class="box">
                        <img width="50px" src="https://img.icons8.com/pastel-glyph/64/000000/teacher--v1.png"/>
                        <h1>10- day Mentoring Programme</h1>
                    </div>   
                    <div class="box">
                        <img width="50px" src="https://img.icons8.com/pastel-glyph/64/000000/online-coding--v1.png"/>
                        <h1>Hackathon to test your skills</h1>
                    </div>   
                </div>
                <div class="about-content">
                    <div class="row">
                        <div class="section-title">
                            <h1>About Us</h1>
                        </div>
                    </div>
                    <p>
                        Here is a chance to kickstart your learning in the fields of Digital Signal Processing (DSP),
                        Machine Learning (ML) and Computer Vision (CV) with a 10- day mentoring programme,
                        and to test your skills at the end and stand a chance to win exciting cash awards from a prize pool of 150 USD. <br> <br>

                        IMPULSE will be a series of exciting events, each leading to another. The primary goal is to provide upcoming engineers
                        a peek into state-of-the-art research and industry practices, and to direct them towards it.  <br><br>

                        Participants will also be introduced to the different challenges of IEEE SPS and IEEE CS
                        like ICASSP, ICIP, CVPR and ECCV. These sessions will be handled by past challenge winners. <br><Br>

                        The registration is for the entire event. 
                            Participants should register as individuals and later 
                            form teams of 1 to 4 people, prior to the hackathon.
                             Attendance will be taken into account to provide participation 
                             certificates and other goodies.
                    </p>
                    
                        
                    

                </div>
                
        </div>

    </section>
  
    <!-- About Section  End-->