<section class="events-section" id="events">
            <div class="section-title padd-15">
                <h1> Event Schedule </h1>
            </div>
<!-- 

            <div class="event-container">
                <div class="box-event">
                    <h1>Python </h1>
                    <p>Python is a powerful general-purpose programming language.</p>
                    <i class="fa fa-angle-right"></i><a href="/python">View</a>
                    <img src="/static/img/events/python.jpeg" alt="">
                </div>
                <div class="box-event">
                    <h1>DSP, ML and CV</h1>
                    <p>Dwell a little deeper into using OpenCV with Python.</p>>
                    <i class="fa fa-angle-right"></i><a href="/dsp-ml-cv">View</a>
                    <img src="/static/img/events/ml.jpg" alt="">
                </div>
                <div class="box-event">
                    <h1>Hackathon</h1>
                    <p>It is the specific procedures or techniques used to identify, select, process, and analyze information</p>
                    <i class="fa fa-angle-right"></i><a href="/coming-soon">View</a>
                    <img src="/static/img/events/hackathon.jpeg" alt="">
                </div>
               
            
            </div> -->

            <!-- <center>
                <a href="/events"><button class="btn">View All Events</button></a>
            </center> -->


</section>

<style>
    
</style>

