<div style="margin: 100px;" id="contact"></div>
<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel="stylesheet" href="/static/css/hackathon.css">
<section class="hackathon section">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <center>
                <h1>Impulse Hackathon</h1>
                </center>
            </div>
        </div>
        
        <div class="hackathon-registration-container">
            <div class="register">
                <h1>Non Impulse Workshop Participants</h1>
                <a href="https://forms.gle/P9mQG1T4cPVJpCdT7"><button class="btn">Register Now</button></a>
            </div>

            <div class="register">
                <h1>Impulse Workshop Participants</h1>
                <a href="https://forms.gle/hVtSVAecPhVEC1GX6"><button class="btn">Register Now</button></a>
            </div>
        </div>
    </div>

    <!-- <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <center>
                <h1>FAQ's</h1>
                </center>
            </div>
        </div>

        <div class="faq-section">
            <div class="search-bar">
                <form>
                    <div class="search-icon"><img src="https://img.icons8.com/pastel-glyph/64/000000/search--v2.png" /></div>
                    <input autocomplete="off" type="search" placeholder="Search for faqs" name="searchbar" class="search">
                </form>
            </div>

            <div class="container">
                <div class="accordion">
                  Inject content throug js
                </div>
                
            </div>
        </div>
        
        
    </div> -->
</section>

<!-- 
<script src="/static/js/hackathon.js"></script> -->