<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
<link rel="stylesheet" href="/static/css/hackathon.css">   

<style>
    .faqs-ask{
        width: 50%; 
        margin: 20px auto;
    }
    @media(max-width: 767px){
        .faqs-ask{
            width: 90%;
        }
    }
</style>


<section id="faqs" class="faqs section">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <center>
                <h1>FAQ</h1>
                </center>
            </div>
        </div>

        <div class="faq-section">
            <div class="search-bar">
                <form>
                    <div class="search-icon"><img src="https://img.icons8.com/pastel-glyph/64/000000/search--v2.png" /></div>
                    <input autocomplete="off" type="search" placeholder="Search for faqs" name="searchbar" class="search">
                </form>
            </div>

            <div class="container">
                <div class="accordion">
                  <!-- Inject content throug js -->
                </div>
                
                <center>
                    <h1 style="margin: 20px 0; font-size: 1.7rem;">Still Got Questions? </h1>
                    <p class="faqs-ask">The FAQ section may already have the answer to your question. Make sure you check the FAQ section before submitting a query.</p>
                    <a href="https://forms.gle/WmjeQ7SrbymQwY8G9"><button class="btn">Ask US</button> </a> 
                </center>
            </div>
        </div>
        
        
    </div>
</section>

<script src="/static/js/faqs.js"></script>

<script src="/static/js/hackathon.js"></script>
