    <!-- Organizers section start -->
    <div style="margin-bottom: 50px;" id="organizers"></div>
    <section class="organizers-section">
        <div class="container">
            <div class="row">
                <div class="section-title padd-15">
                    <h1>Advisory Committee:</h1>
                </div>
            </div>
            <div class="wrapper">
                
                <div class="card"><img src="/static/img/organizers/jiji-cv.jpg"/>
                  <div class="info">
                    <h1>Dr. Jiji CV</h1>
                    <p>Principal, CET</p>
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/jiji-c-v-4ab00a40"><i class="fa fa-linkedin"></i></a>
                        <a href="mailto:jijicv@cet.ac.in"><i class="fa fa-envelope"></i></a>
                       
                    </div>
                  </div>
                </div>
                <div class="card"><img src="/static/img/organizers/anitha.png"/>
                  <div class="info">
                      <h1>Ms. Anitha Edison </h1>
                      <p>Asst. Professor, CET</p>
                    <div class="social-links">
                        <a href="https://www.linkedin.com/in/anitha-edison-40578017b"><i class="fa fa-linkedin"></i></a>
                        <a href="mailto:anithaedison@cet.ac.in"><i class="fa fa-envelope"></i></a>
                        
                    </div>
                  </div>
                </div>
                <div class="card"><img src="" alt="shajahan"/>
                    <div class="info">
                      <h1>Mr. Shajahan</h1>
                      <p>SB Advisor, CET</p>
                      <div class="social-links">
                          <a href=""><i class="fa fa-linkedin"></i></a>
                          <a href=""><i class="fa fa-envelope"></i></a>
                         
                      </div>
                    </div>
                  </div>
            </div>

            <br><br><br>


                  <div class="row">
                    <div class="section-title padd-15">
                        <h1>Organising Committee</h1>
                    </div>
                </div>

            <div class="wrapper">

            

                  <div class="card"><img src="/static/img/organizers/Ananya-Ayasi.jpg"/>
                    <div class="info">
                      <h1>Ananya Ayasi</h1>
                      <p>Chair, IEEE SPS SBC CET</p>
                      <div class="social-links">
                          <a href="https://www.linkedin.com/in/ananya-ayasi-0b654a166"><i class="fa fa-linkedin"></i></a>
                          <a href="mailto:ananyaayasi@cet.ac.in"><i class="fa fa-envelope"></i></a>
                         
                      </div>
                    </div>
                  </div>

                  <div class="card"><img src="/static/img/organizers/Ankitha-Jazy.jpg"/>
                    <div class="info">
                      <h1>Ankitha Jazy</h1>
                      <p>Chief Coordinator</p>
                      <div class="social-links">
                          <a href="https://www.linkedin.com/in/ankithajazy"><i class="fa fa-linkedin"></i></a>
                          <a href="mailto:ankithajazy06@gmail.com"><i class="fa fa-envelope"></i></a>
                         
                      </div>
                    </div>
                  </div>
                  <div class="card"><img src="/static/img/organizers/Jacob-Joshy.jpg"/>
                    <div class="info">
                        <h1>Jacob Joshy </h1>
                        <p>Technical Coordinator</p>
                      <div class="social-links">
                          <a href="https://www.linkedin.com/in/jacob-joshy-8bb5691a2"><i class="fa fa-linkedin"></i></a>
                          <a href="mailto:jacobjoshy@cet.ac.in"><i class="fa fa-envelope"></i></a>
                          
                      </div>
                    </div>
                  </div>
                  <div class="card"><img src="/static/img/organizers/Rahul-T.jpg"/>
                      <div class="info">
                        <h1>Rahul T</h1>
                        <p>Webmaster</p>
                        <div class="social-links">
                            <a href="https://www.linkedin.com/in/rahulmanojcet/"><i class="fa fa-linkedin"></i></a>
                            <a href="mailto:rahulmanoj@cet.ac.in"><i class="fa fa-envelope"></i></a>
                           
                        </div>
                      </div>
                    </div>
                    <div class="card"><img src="/static/img/organizers/Hazel-mary.jpg"/>
                      <div class="info">
                        <h1>Hazel Mary</h1>
                        <p>Session Coordinator</p>
                        <div class="social-links">
                            <a href="https://www.linkedin.com/in/hazel-mary-0146781b3"><i class="fa fa-linkedin"></i></a>
                            <a href="mailto:hazelmary@cet.ac.in"><i class="fa fa-envelope"></i></a>
                           
                        </div>
                      </div>
                    </div>

                    <div class="card"><img src="/static/img/organizers/Chethana-Pradeep.jpg"/>
                        <div class="info">
                          <h1>Chethana Pradeep </h1>
                          <p>Session Coordinator</p>
                          <div class="social-links">
                              <a href="https://www.linkedin.com/in/chethana-pradeep-7a3b781bb"><i class="fa fa-linkedin"></i></a>
                              <a href="mailto:chethanapradeep@cet.ac.in"><i class="fa fa-envelope"></i></a>
                             
                          </div>
                        </div>
                      </div>

                      <div class="card"><img src="/static/img/organizers/Rahul-k.jpg"/>
                        <div class="info">
                          <h1>Rahul K</h1>
                          <p>Session Coordinator</p>
                          <div class="social-links">
                              <a href="https://www.linkedin.com/in/rahul-k-8299061a9"><i class="fa fa-linkedin"></i></a>
                              <a href="mailto:rahulk25012002@gmail.com"><i class="fa fa-envelope"></i></a>
                             
                          </div>
                        </div>
                      </div>

                      <div class="card"><img src="/static/img/organizers/Mithun-S.jpeg"/>
                        <div class="info">
                          <h1>Mithun S</h1>
                          <p>Session Coordinator</p>
                          <div class="social-links">
                              <a href="https://www.linkedin.com/in/mithun-pillai-9a0964205"><i class="fa fa-linkedin"></i></a>
                              <a href="mailto:mithunpillai007@gmail.com"><i class="fa fa-envelope"></i></a>
                             
                          </div>
                        </div>
                      </div>

                      <div class="card"><img src="/static/img/organizers/Nandana-Sony.jpg"/>
                        <div class="info">
                          <h1>Nandana Sony</h1>
                          <p>Hackathon Coordinator</p>
                          <div class="social-links">
                              <a href="https://www.linkedin.com/in/nandana-sony-9705541b9/"><i class="fa fa-linkedin"></i></a>
                              <a href="mailto:nandana@cet.ac.in"><i class="fa fa-envelope"></i></a>
                             
                          </div>
                        </div>
                      </div>

                      <div class="card"><img src="/static/img/organizers/Anand-K.jpg"/>
                        <div class="info">
                          <h1>Anand K</h1>
                          <p>Design Lead</p>
                          <div class="social-links">
                              <a href="https://www.linkedin.com/in/anand-k-8a78561a9"><i class="fa fa-linkedin"></i></a>
                              <a href="mailto:tve19ec017@cet.ac.in"><i class="fa fa-envelope"></i></a>
                             
                          </div>
                        </div>
                      </div>

                      <div class="card"><img src="/static/img/organizers/Anagha-Sivakumar.jpeg"/>
                        <div class="info">
                          <h1>Anagha Sivakumar</h1>
                          <p>Design executive</p>
                          <div class="social-links">
                              <a href="https://www.linkedin.com/in/anagha-sivakumar-0711651aa"><i class="fa fa-linkedin"></i></a>
                              <a href="mailto:tve19ee025@cet.ac.in"><i class="fa fa-envelope"></i></a>
                             
                          </div>
                        </div>
                      </div>

                      <div class="card"><img src="/static/img/organizers/Lynn-Collins.jpg"/>
                        <div class="info">
                          <h1>Lynn Collins</h1>
                          <p>Documentation Lead</p>
                          <div class="social-links">
                              <a href="https://www.linkedin.com/in/lynn-collins-9370321b0"><i class="fa fa-linkedin"></i></a>
                              <a href="mailto:lynn00collins7@gmail.com"><i class="fa fa-envelope"></i></a>
                             
                          </div>
                        </div>
                      </div>

                      <div class="card"><img src="/static/img/organizers/Abhijit-Narayan-S.jpg"/>
                        <div class="info">
                          <h1>Abhijit Narayan</h1>
                          <p>Content Lead</p>
                          <div class="social-links">
                              <a href="https://www.linkedin.com/in/abhijit-narayan-a009391a9"><i class="fa fa-linkedin"></i></a>
                              <a href="mailto:TVE19AE001@cet.ac.in"><i class="fa fa-envelope"></i></a>
                             
                          </div>
                        </div>
                      </div>
                
            </div>


            </div>
        </div>
    </section>
    <!-- Organizers section end  -->