
<style>

.process-wrapper {
	margin:auto;
	max-width:1080px;
	
}


#progress-bar-container {
	position:relative;
	width:90%;
	margin:auto;
	height:100px;
	margin-top:65px;
}

#progress-bar-container ul {
	padding:0;
	margin:0;
	padding-top:15px;
	z-index:9999;
	position:absolute;
	width:100%;
	margin-top:-40px
}

#progress-bar-container li:before {
	content:" ";
	display:block;
	margin:auto;
	width:30px;
	height:30px;
	border-radius:50%;
	border:solid 2px #aaa;
	transition:all ease 0.3s;
     
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 2px #fff;
       	 
	background: linear-gradient(to right, #b80505 0%,rgb(119, 57, 57) 100%); 
}

#progress-bar-container li {
	list-style:none;
	float:left;
	width:10%;
	text-align:center;
	color:#aaa;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;
}

#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
    font-size: 14px;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#444;
}

#progress-bar-container li:after {
	content:" ";
	display:block;
	width:6px;
	height:6px;
	background:#333;
	margin:auto;
	border:solid 7px #fff;
	border-radius:50%;
	margin-top:40px;
	box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
	transition:all ease 0.2s;
     
}

#progress-bar-container li:hover:after {
	background:#555;
}

#progress-bar-container li.active:after {
	background:#b80505;
}

#progress-bar-container #line {
	width:90%;
	margin:auto;
	background: #000;
	height:6px;
	position:absolute;
	left:5%;
	top:57px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:3%;
	height:100%;
	background: #207893;	 
	background: linear-gradient(to right, #b80505 0%,#ff8900 100%); 
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	background: #fff;
	border-radius: 4px;
	box-shadow:0 2px 50px 1px rgba(0,0,0,0.3);
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:27px;
	
	color:#000;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#333;
}

#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

.section-content h2{
	font-family: sans-serif;
}

.__details{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
	justify-content: center;
	align-items: center;

}

.__details img{
	width: auto;
	height: 300px;
	margin: auto;
}
.__details .day_highlight ul{
	padding: 0;
}
.__details .day_highlight ul li{
	margin-left: 20px;
	text-align: left;
	list-style: none;
	padding: 5px 0px;
}

.__details .day_highlight h3{
	text-align: left;
}

@media(max-width: 767px){
	.__details{
		grid-template-columns: 1fr;
	}
	.__details .day_highlight h3{
		text-align: center;
	}
}
 
@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}

@media(max-width: 767px){

	#progress-bar-container li .step-inner,#progress-bar-container li:before {
		display: none;
	}
	
}
 
    </style>

 
<div class="process-wrapper">
<div id="progress-bar-container">
	<ul>
		<li class="step step01 active"><div class="step-inner"> Day 1</div></li>
		<li class="step step02"><div class="step-inner">Day 2</div></li>
		<li class="step step03"><div class="step-inner">Day 3</div></li>
		<li class="step step04"><div class="step-inner">Day 4</div></li>
		<li class="step step05"><div class="step-inner">Day 5</div></li>
		<li class="step step06"><div class="step-inner">Day 6</div></li>
		<li class="step step07"><div class="step-inner">Day 7</div></li>
		<li class="step step08"><div class="step-inner">Day 8</div></li>
		<li class="step step09"><div class="step-inner">Day 9</div></li>
		<li class="step step10"><div class="step-inner">Day 10</div></li>

	</ul>
	
	<div id="line">
		<div id="line-progress"></div>
	</div>
</div>

<div id="progress-content-section">
	<div class="section-content day1 active">
		<h2>19th May 2021</h2>
		
		<div class="__details">
			<img src="/static/img/poster.jpeg" alt="">

			<div class="day_highlight">
				<h3>Introduction to Python</h3>
				<ul>
					<li>Variables</li>
					<li>I/O Statements</li>
					<li>Operators</li>
					<li>Decision making</li>
					<li>Iterative statements</li>
					<li>Arrays</li>
					<li>Functions</li>

				</ul>

			</div>
		</div>
	</div>
	
	<div class="section-content day2">
		<h2>20th May 2021</h2>
		
		<div class="__details">
			<img src="/static/img/arun-python2.jpeg" alt="">

			<div class="day_highlight">
				<h3>Python Packages</h3>
				<ul>
					<li>NumPy </li>
					<li>Matplotlib </li>
					

				</ul>

			</div>
		</div>
	</div>
	
	<div class="section-content day3">
		<h2>21st May 2021</h2>
		
		<div class="__details">
			<img src="/static/img/sherin-ml.jpeg" alt="">

			<div class="day_highlight">
				<h3>Machine learning</h3>
				

			</div>
		</div>
	</div>
	
	<div class="section-content day4">
		<h2>22nd May 2021</h2>
		
		<div class="__details">
			<img src="/static/img/blossom-cv.jpeg" alt="">

			<div class="day_highlight">
				<h3>Computer Vision</h3>
				<ul>
					<li>Introduction to computer vision and its applications</li>
					<li>Introduction to OpenCV using python,</li>
					<li>computer vision/image processing using OpenCV</li>
				

				</ul>

			</div>
		</div>
	</div>
	
	<div class="section-content day5">
		<h2>23rd May 2021</h2>
		
		<div class="__details">
			<img src="/static/img/sreeni-dsp.jpeg" alt="">

			<div class="day_highlight">
				<h3> DSP using Python</h3>
				
				<p style="text-align: left;">Digital Signal Processors (DSP) take real-world signals like voice, audio, video, temperature, pressure, or position that have been digitized and then mathematically manipulate them. Learn the basics of Digital Processing using Python.</p>
			</div>
		</div>
	</div>
	<div class="section-content day6">
		<h2>24th May 2021</h2>
		
		<div class="__details">
			<img src="/static/img/rajasree.jpeg" alt="">

			<div class="day_highlight">
				<h3>Session on Research Methodologies</h3>
				<p style="text-align: left;">The lecture will cover  - What research is and is not?, how to choose a research advisor, how to identify the research problem, Literature review, Solutions to research problems, Planning your research, Reasoning and finally
					Reporting your findings</p>

			</div>
		</div>
	</div>
	<div class="section-content day7">
		<h2>25th May 2021</h2>
		
		<div class="__details">
			<img src="/static/img/events/speaker/" alt="">

			<div class="day_highlight">
				<h3>All about ICASSP and ICIP- challenges by IEEE SPS</h3>

			</div>
		</div>
	</div>
	<div class="section-content day8">
		<h2>26th  May 2021</h2>
		
		<div class="__details">
			<img src="/static/img/cvpr.jpeg" alt="">

			<div class="day_highlight">
				<h3>All about CVPR and ECCV</h3>

			</div>
		</div>
	</div>
	<div class="section-content day9">
		<h2>27th  May 2021</h2>
		
		<div class="__details">
			<img src="/static/img/rajeev.jpeg" alt="">

			<div class="day_highlight">
				<h3>Basics of MATLAB</h3>
				
				<p style="text-align: left;">MATLAB is a programming and numeric computing platform used by millions of engineers and scientists to analyze data, develop algorithms, and create models.
					Learn the basics of MATLAB in this interactive session.</p>
				
			</div>
		</div>
	</div>
	<div class="section-content day10">
		<h2>27th  May 2021</h2>
		
		<div class="__details">
			<img src="/static/img/hackathon.jpeg" alt="">

			<div class="day_highlight">
				<h1>Hackathon</h1>
				<a href="/coming-soon"><button class="btn">More Details</button></a>
				

				
			</div>
		</div>
	</div>
	
</div>


	<div style="margin-top: 50px;"></div>

	<center>
		<a href="https://forms.gle/pWfnKHthizLhTms38"><button class="btn">Register Now</button></a>
	</center>
	
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
 <script>
    
    $(".step").click( function() {
	$(this).addClass("active").prevAll().addClass("active");
	$(this).nextAll().removeClass("active");
});

$(".step01").click( function() {
	$("#line-progress").css("width", "0%");
	$(".day1").addClass("active").siblings().removeClass("active");
});

$(".step02").click( function() {
	$("#line-progress").css("width", "10%");
	$(".day2").addClass("active").siblings().removeClass("active");
});

$(".step03").click( function() {
	$("#line-progress").css("width", "22%");
	$(".day3").addClass("active").siblings().removeClass("active");
});

$(".step04").click( function() {
	$("#line-progress").css("width", "33%");
	$(".day4").addClass("active").siblings().removeClass("active");
});

$(".step05").click( function() {
	$("#line-progress").css("width", "45%");
	$(".day5").addClass("active").siblings().removeClass("active");
});
$(".step06").click( function() {
	$("#line-progress").css("width", "56%");
	$(".day6").addClass("active").siblings().removeClass("active");
});

$(".step07").click( function() {
	$("#line-progress").css("width", "66%");
	$(".day7").addClass("active").siblings().removeClass("active");
});

$(".step08").click( function() {
	$("#line-progress").css("width", "78%");
	$(".day8").addClass("active").siblings().removeClass("active");
});

$(".step09").click( function() {
	$("#line-progress").css("width", "89%");
	$(".day9").addClass("active").siblings().removeClass("active");
});

$(".step10").click( function() {
	$("#line-progress").css("width", "100%");
	$(".day10").addClass("active").siblings().removeClass("active");
});

 
</script>