<section class="updates-section">
    <div class="container">
        <div class="row">
            <div class="section-title padd-15">
                <h1> Updates <i class="fa fa-bullhorn"></i> </h1>
            </div>

            <div class="updates-container">
                <div class="updates-card">
                    <img src="/static/img/impulse-quiz.jpeg" alt="">
                    <a href="/technical-quiz/"><button class="btn">View More</button></a>
                </div>
            </div>
        </div>
    </div>
</section>