.hackathon-registration-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .hackathon-registration-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.hackathon-registration-container .register {
  padding: 20px;
  border-radius: 20px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7e2e2;
  text-align: center;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .hackathon-registration-container .register {
    width: 80%;
  }
}

.hackathon-registration-container .register h1 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .hackathon-registration-container .register h1 {
    font-size: 1.2rem;
  }
}

.faq-section .search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: center;
}

@media (max-width: 767px) {
  .faq-section .search-bar {
    width: 90%;
  }
}

.faq-section .search-bar form {
  position: relative;
  width: 100%;
}

.faq-section .search-bar form .search-icon {
  position: absolute;
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.faq-section .search-bar form .search-icon img {
  width: 25px;
  height: 25px;
}

.faq-section .search-bar form input {
  padding: 10px 20px 10px 35px;
  border-radius: 10px;
  width: 100%;
  margin: auto;
  border: 1px solid #00000030;
  outline: none;
  font-size: 1rem;
}

.faq-section .container {
  margin-top: 50px;
  width: 80%;
}

@media (max-width: 767px) {
  .faq-section .container {
    width: 100%;
  }
}

.accordion a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  color: #000000;
  font-size: 1.15rem;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
}

.accordion a:hover,
.accordion a:hover::after {
  cursor: pointer;
  color: #ff5353;
}

.accordion a:hover::after {
  border: 1px solid #ff5353;
}

.accordion a.active {
  color: #ff5353;
  border-bottom: 1px solid #ff5353;
}

.accordion a::after {
  font-family: 'Ionicons';
  content: '\f218';
  position: absolute;
  float: right;
  right: 1rem;
  font-size: 1rem;
  color: #000;
  padding: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #7288a2;
  text-align: center;
}

@media (max-width: 767px) {
  .accordion a::after {
    width: 20px;
    height: 20px;
    padding: 3px;
  }
}

.accordion a.active::after {
  font-family: 'Ionicons';
  content: '\f209';
  color: #ff5353;
  border: 1px solid #ff5353;
}

.accordion .content {
  opacity: 0;
  padding: 0 1rem;
  max-height: 0;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  clear: both;
  -webkit-transition: all 0.2s ease 0.15s;
  transition: all 0.2s ease 0.15s;
}

.accordion .content p {
  font-size: 1rem;
  font-weight: 300;
}

.accordion .content.active {
  opacity: 1;
  padding: 1rem;
  max-height: 100%;
  -webkit-transition: all 0.35s ease 0.15s;
  transition: all 0.35s ease 0.15s;
}
/*# sourceMappingURL=hackathon.css.map */